 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I like to call myself a problem solver. I am constantly driven to explore new ways of solving problems and to express myself through engineering. Bringing joy and comfort to the users is what matters and rewards me most.<br />
                    I am a software engineer with 11 years of programming experience. Specialised in mobile programming, my goal is to create most beautiful, intuitive and useful products. To be able to focus on that, I seek to write a powerful, understandable and maintainable source code.<br />
                    Learning every day is the most important to me. To conclude, I live by:
                    dream big and dare to fail. - Norman Vaughan</p>
                </div>
                <div class="col-lg-4"></p>
                </div>
            </div>
        </div>
    </section>