<div class="py2 post-footer">
  <img src="/images/me.png" alt="Damir Stuhec" class="avatar" />
  <p>
    I'm a sofware engineer currently living in Stockholm and working at <a href="http://www.qapital.com">Qapital</a>. I spend most of my time writing code in <code><span class="orange">Swift</span></code> and <code><span class="orange">Objective-C</span></code> looking to build cool products. I love <a href="https://github.com/damirstuhec">Open source</a> and try to be helpful on <a href="http://stackoverflow.com/users/1677480/damirstuhec?tab=profile">StackOverflow</a>. I'm passionate about design, music, sports and food. <a href="/contact/">Say hello!</a>
  </p>
  <p>
    <a href="https://twitter.com/stuhecdamir" class="twitter-follow-button" data-show-count="false">Follow @stuhecdamir</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </p>
</div>
